
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


h1,
h2,
h3 {
    font-family: Lora, Arial'Times New Roman' serif;
}

#informacion-personal {
    background-color: aquamarine;
}

#educacion {
    background-color: rgb(59, 90, 177);
}

#habilidades_y_conocimientos {
    background-color: firebrick;
}

#proyectos_colaborativos {
    background-color: rgb(82, 184, 141);
}

#contactos {
    background-color: lightsalmon;
}

section {
    margin: 20px;
}

#contactos {
    
        margin: 2px 1px 1.5px;
        margin-top: 0.8rem;
        border: 0.2pt dashed #827d7d;
        padding: 2% 1.2%;   
      
}

#proyectos_colaborativos{
    box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}
section {
    border: 1px solid black;
}

section {
    border-top: 2px solid red;
    border-right: 3px solid blue;
    border-bottom: 4px solid green;
    border-left: 5px solid yellow;
}

section {
    padding: 20px;
}

section {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
}

section {
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
}

